.woocommerce_options_panel .options_group.wcpbc_pricing fieldset ul{
	width: 100%;
}
#woocommerce-product-data .woocommerce_options_panel .wcpbc_pricing .wc-radios li {
	padding: 0 0 5px;	
}
#woocommerce-product-data .woocommerce_options_panel .wcpbc_pricing  .wcpbc_wrapper_sale_price_dates .wc-radios li {
	display: inline;
	margin-right: 20px;
}

.woocommerce_variable_attributes .wcpbc_pricing{
	width:100%; 	
	padding-right:10px;
	border-top:1px solid #eee;
}

.woocommerce_variable_attributes .wcpbc_pricing .wcpbc_wrapper_variable_price_method li, .woocommerce_variable_attributes .wcpbc_pricing .wcpbc_wrapper_variable_sale_price_dates li {
	padding: 0 0 5px;
}

.woocommerce_variable_attributes .wcpbc_pricing .wcpbc_wrapper_variable_sale_price_dates li {
	display: inline;
	margin-right: 20px;
}

.woocommerce_variable_attributes .wcpbc_pricing .wcpbc_wrapper_variable_sale_price_dates li label{
	display:inline;
}

.wcpbc-zone-worldwide::before {
    content: "\f319";
    font-family: dashicons;
    text-align: center;
    color: #999;
    display: block;
    width: 17px;
    float: left;
    height: 100%;
    line-height: 24px;
	margin-left: 25%;
	margin-top: -15%;
}

.about-wrap .wcpbc-badge  {
    position: absolute;
    top: 0;
    right: 0;
}

.wcpbc-badge {
    background: #0073aa url(../images/w-logo-white.png?ver=20160308) no-repeat;
    background-position: center 25px;
    -webkit-background-size: 80px 80px;
    background-size: 80px 80px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    margin: 5px 0 0;
    padding-top: 120px;
    height: 40px;
    display: inline-block;
    width: 140px;
    text-rendering: optimizeLegibility;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}