.woocommerce_options_panel .options_group.wcpbc_pricing fieldset ul{
	width: 100%;
}
#woocommerce-product-data .woocommerce_options_panel .wcpbc_pricing .wc-radios li {
	padding: 0 0 5px;	
}
#woocommerce-product-data .woocommerce_options_panel .wcpbc_pricing  .wcpbc_wrapper_sale_price_dates .wc-radios li {
	display: inline;
	margin-right: 20px;
}

.woocommerce_variable_attributes .wcpbc_pricing{    
    padding-right:10px;
    border-top:1px solid #eee;
    overflow: auto;
    display: block;
    clear: both;
}

.woocommerce_variable_attributes .wcpbc_pricing .wcpbc_wrapper_variable_price_method li, .woocommerce_variable_attributes .wcpbc_pricing .wcpbc_wrapper_variable_sale_price_dates li {
	padding: 0 0 5px;
}

.woocommerce_variable_attributes .wcpbc_pricing .wcpbc_wrapper_variable_sale_price_dates li {
	display: inline;	
}
.woocommerce_variable_attributes .wcpbc_pricing .wcpbc_wrapper_variable_sale_price_dates li:first-child {
	margin-right: 20px;
}

.woocommerce_variable_attributes .wcpbc_pricing .wcpbc_wrapper_variable_sale_price_dates li label{
	display:inline;
}

.wcpbc-zone-worldwide::before {
    content: "\f319";
    font-family: dashicons;
    text-align: center;
    color: #999;
    display: block;
    width: 17px;
    float: left;
    height: 100%;
    line-height: 24px;
	margin-left: 25%;
	margin-top: -15%;
}

.about-wrap .wcpbc-badge  {
    position: absolute;
    top: 0;
    right: 0;
}

.wcpbc-badge {
    background: #255a8c url(https://lh3.googleusercontent.com/GB3hhMiBpeVR2SsqtZieMk9N5i3OX_euoDhxELYFO9YeNKcK-VQ0JfrSQk2l2iXamJntWnN4SmRRWTv1PHN5T84dRdJhszmlpQWHrze-7sw2TTEnLMpn_ivEOgxXHPWtbkeV7imsYSYpmM0kbPyjFcvDdqOOdzO00l-LvCb2xYzjHaYpcJvMDwn42u4mkCXcwyFp8vKoZaNknvFsqd2_8XMeMcQA3z23QGhGdJo6D0yNJYk81qOeou9rcm0XkUeCZeLzxdyOkMdd-4Qr3yKye_jfhiqNsCu7b0rakw9bzMiGPndG_MbRfDJYrZh_YAXDIXsKb2fEWDJdM6-AuEFtM0rWB22XAxmvIZJKKg1jgKJe9rX_MbS76_LBmdCDMCeNCzH3pMwf_Q9qQoI5le7Za8UWibBu1PgTXShr4V1FQ2Cdx8YpuBZTiaLVNa7nYUrsK9yfQJELC7573cZEsxif9VkL8DB6e0zTxqXsM5YqwMkhisBcuTMavm9QIrW6vau6xWoYB5FZNlmK122M4gWU6A6h4wmns1wcbZHdowXaCrIztXZO9Z7RGqcl3-zJvb0W2kJeCqERBGl7QQduDfx_N4CQwGnlUW3IPGm5lXKqjdCS7Ni_=s120-no) no-repeat;
    background-position: center top;      
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    margin: 5px 0 0;
    padding-top: 120px;
    height: 40px;
    display: inline-block;
    width: 140px;
    text-rendering: optimizeLegibility;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.wcpbc_addon_banner .dashicons {	
	float:left;
}
.wcpbc_addon_banner .feature_text {
	display: block;
    margin-left: 25px;
}

.wcpbc_addon_banner .dashicons.dashicons-star-filled{
	color: rgb(213, 78, 33);
}

.wcpbc_addon_banner .dashicons.dashicons-yes{
	color: #46b450;
}

.wcpbc_addon_banner_features {
	padding: 20px;
}

.wc_addons_wrap .products ul.wcpbc_addon_banner_features li {
    float: none;
	margin: 0 0 1em 0!important;
	width:100%;
}

.wcpbc_product_data_ad {
    display: none;
}